<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
    <body>
      {{> header}}
      <p>{{screamIt welcomeText}}</p>

      {{> footer}}
    </body>
  </head>
</html>
